@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.1.1/dist/base.css";
@import "./oxocarbon.css";

@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.1.1/dist/utils/box.css";

@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.1.1/dist/components/typography.css";
@import "https://cdn.jsdelivr.net/npm/@webtui/css@0.1.1/dist/components/badge.css";

@font-face {
  font-family: "Github Monaspace Neon";
  src: url("media/MonaspaceNeonVarVF[wght,wdth,slnt].woff2");
}

@layer utils, components;
@layer base {
  :root {
    --font-family: "Github Monaspace Neon";
    --font-size: 14pt;
  }
}

div[box-~="square"] > div.header,
div[box-~="round"] > div.header,
div[box-~="double"] > div.header {
  background-color: var(--background0);
  padding: 0 1ch;
  width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}

div.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 5px;
}
